body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    width: 100%;
    justify-content: center;
  }
  
  form .password {
    background-color: #2F2F2F;
    border: none;
    color: white;
    height: 50px;
    width: 30%;
    text-align: left;
    padding-left: 25px;
    font-size: 100%;
  }
  
  form .submit {
    background-color: #4F4F4F;
    border: none;
    color: white;
    height: 50px;
    font-size: 100%;
    transition-duration: .2s;
  }
  
  form .submit:hover {
    background-color: #2F2F2F;
    cursor: pointer;
  }
  
  p {
    color: red;
  }